h3 {
  font-weight: bold;
}
i {
  position: relative;
  top: 3px;
}
.dark-mode {
  background-color: #1d2029;
  color: white;
}
.light-mode-box {
  background-color: #f0f3fa;
}
.dark-mode-box {
  background-color: #252b43;
}
.switch-text {
  color: #5f616d;
  margin-top: 8px;
  margin-right: 15px;
}
.switch {
  height: 40px;
  display: block;
  border-radius: 20px;
  background: #5f616d;
  width: 80px;
  padding: 5px;
  box-sizing: border-box;
  cursor: pointer;
  user-select: none;
}
.switch::before {
  content: "";
  display: block;
  width: 30px;
  height: 30px;
  background: #ffffff;
  border-radius: 50%;
  transform: translateX(40px);
  transition: 0.3s;
  will-change: transform;
}
.switch-dark {
  background-image: linear-gradient(
    to right,
    #479acf,
    #00a9d2,
    #00b7c8,
    #00c2b2,
    #38ca94
  );
}
.checkbox:checked ~ .switch:before {
  transform: translateX(0);
}
.checkbox {
  display: none;
}
.box {
  position: relative;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  width: 100%;
  margin-bottom: 5px;
  margin-top: 25px;
  border-radius: 5px;
  padding: 40px 0px;

  &::before {
    content: "";
    height: 4px;
    background-color: #198ff5;
    position: absolute;
    top: 0;
    width: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }
  h1 {
    font-size: 60px;
  }
  .icon {
    font-weight: bold;
    color: #6f717e;
    font-size: 15px;
    img {
      width: 30px;
    }
  }
  .followers {
    line-height: 0;
  }
  .time {
    font-size: 12px;
    margin-top: 7px;
    color: #1db489;
    font-weight: bold;
  }
}
.box-instagram::before {
  background: linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
}
.big-tittle {
  color: #5f616d;
  margin-bottom: 15px;
}
.box-small {
  margin-top: 10px;
  display: flex;
  width: 100%;
  border-radius: 12px;
  padding: 15px 0px;

  .stats {
    margin-top: 5px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    font-weight: bold;
    line-height: 0.9;
    p {
      color: #6f717e;
    }
  }
  .icon-time {
    img {
      width: 20px;
    }
  }
}
.flex-between {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}
.color-time {
  color: #1db489;
  font-weight: bold;
}
.color-time-second {
  color: #dc414c;
  font-weight: bold;
}
.reverse-arrow {
  top: -3px;
}
@media screen and (min-width: 576px) {
  .switch-area {
    display: flex;
    justify-content: flex-end;
  }
}
